extends ../layout/index

block contenido
    
    section.form-total
        h2.form-title= pagina
        form.form-crear(action="")
            input(type="email" placeholder="email")
            button(type="submit") Recuperar

        div.form-footer
            a(href='/auth/login') Ya tienes cuenta? Iniciar Sesión
    p Ingrese su email para recuperar su contraseña